@media (max-width: 1200px) {
    .three-itens {
        gap: 80px 20px;

    }
} 

@media (max-width: 950px) { 
    /* Header*/

    .header {
        width: calc(100% - 40px);
        display: block;
        padding: 0;
    }

    .header img {
        display: none;
    }

    .header-nav-container {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-nav-container .header-nav [data-menu="button"] {
        display: block;
        cursor: pointer;
        border: none;
        width: 0;
        height: 0;
        position: relative;
        z-index: 300;
    }

    .header-nav-container .header-nav [data-menu="list"]{
        display: none;
    }

    .header-nav-container .header-nav [data-menu="button"]::before {
        content: '';
        display: block;
        height: 3px;
        width: 30px;
        background: #fff;
        box-shadow: 0 10px #fff, 0 -10px #fff;
        transition: transform .3s;
    }

    .header-nav-container .header-nav [data-menu="button"].active::before {
        transform: rotate(90deg);
    }

    .header-nav ul li + li {
        margin-left: 0px;
    }

    .header-nav-cont .header-nav ul li {
        margin-bottom: 10px;
    }

    .header-nav-container .header-nav [data-menu="list"] {
        display: none;
        position: absolute;
        background: var(--header-bg);
        width: 130px;
        z-index: 200;
        top: 0px;
        left: 0px;
        padding: 80px 0 20px 0;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    }

    .header-nav-container .header-nav [data-menu="list"] li {
        padding: 10px;
    }

    .header-nav-container .header-nav [data-menu="list"].active {
        display: block;
        animation: show-right .3s forwards;
    }

    /* Principal */

    .main-home {
        text-align: center;
    }

    /* Objetivos */

    .objetivos-destaques {
        grid-template-columns: 1fr;
        gap: 20px 60px ;
    }

    .objetivos-destaques .item {
        grid-template-columns: 1fr 6fr;
        padding: 20px 0;
    }
    
    .objetivos-destaques .item img {
        width: 65px;
        height: 65px;
    }

    .objetivos-destaques .item .text-container p:last-child {
        font-size: .65em;
        margin: 15px 0;

    }

    /* Tres Principais Itens */

    .three-itens .item {
        grid-template-columns: 3fr 1fr ;
        grid-template-areas: 
        "subtitle" "subtitle"
        "text" "imagem"
        "botao""botao";
        padding-bottom: 30px;
        border-bottom: 3px solid var(--cinza-claro);
        width: 100%;
    }

    .three-itens .item h4 {
        grid-column: span 2;
        text-align: left;
    } 

    .three-itens .item img {
        width: 100px;
        height: 100px;
        display: block;
        grid-column: 2 / 3;
        grid-row: span 2;
    }

    .three-itens .item  p {
        grid-column: 1 / 2;
        text-align: left;

    }
    
    .three-itens .item h4::after {
        content: none;
    }

    .three-itens .item button {
        grid-column: span 2;
        margin: 30px 0 0 0 ;
    }

    .three-itens {
        gap: 20px 20px;

    }

    /* Four Itens*/

    .four-itens {
        grid-template-columns: repeat(2, 1fr);
        border: 4px solid var(--cinza-claro);
    }

    .four-itens .item {
        border-right: 4px solid var(--cinza-claro);
        border-bottom: 4px solid var(--cinza-claro);
    }

    .four-itens .item:nth-child(2),
    .four-itens .item:nth-child(4) {
        border-right: none;
    }

    .four-itens .item:nth-child(3),
    .four-itens .item:nth-child(4) {
        border-bottom: none;
    }

    /* Quote */

    .quote p {
        font-size: 2.75em;
    }
}

@media (max-width: 650px){
    .quote {
        height: 400px;
    }

}


@media (max-width: 550px){

    /* Principal */

    .main-home .main-home-top  h1 {
        font-size: 3.75em;
    }
    
    .main-home .main-home-top  p {
        font-size: 2em;
    }

    .main-home .main-home-bottom img {
        margin: 0 auto;
    }

    .main-home .main-home-bottom .setinha {
        display: none;
    }

    /* Objetivo */

    .objetivos-texto span {
        color: var(--cinza);
    }

    .objetivos-subtitle {
        font-size: 1.75em;
    }

    /* Four Itens*/

    .four-itens {
        grid-template-columns: 1fr;
        border: 4px solid var(--cinza-claro);
    }

    .four-itens .item:nth-child(1), 
    .four-itens .item:nth-child(2), 
    .four-itens .item:nth-child(3) {
        border-bottom: 4px solid var(--cinza-claro);
    }

    .four-itens .item:nth-child(1), 
    .four-itens .item:nth-child(3) {
        border-right: none;
    }

    /* Quote */

    .quote {
        height: 400px;
    }

    .quote p {
        font-size: 2em;
    }

    .contato form {
        margin: 70px auto;
        padding: 25px 30px;
    }

    /* Footer */
    
    .footer .logos img {
        width: 130px;
    }
}


@media (max-width: 350px){ 
    /* Home*/
    .main-home .main-home-top button {
        width: 200px;
    }
    /* Objetivos */
    .objetivos-destaques .item {
        grid-template-columns: 1fr;
    }
    .objetivos-destaques .item .text-container {
        align-items: center;
    }
    .objetivos-destaques .item .text-container p:last-child {
        text-align: center;
        padding: 0 0 0 0;
        max-width: 90%;
    }
    .four-itens .item {
        height: 250px;
    }

    /* Quote */

    .quote {
        height: 450px;
    }

    .quote p {
        font-size: 2em;
    }

}

